spring:
  application:
    name: ecommerce-api

  webflux:
    base-path: /v1/api/ecommerce-api

  r2dbc:
    url: r2dbc:h2:mem:///ecommerce_db;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:

    h2:
      console:
        enabled: true
        path: /h2-console

    sql:
      init:
        mode: always

server:
  port: 9292

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
